// datePicker.scss
@import '../styles/variables';

.react-datepicker {
  border: none;
  box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.1);
  
}

.react-datepicker__triangle {
  ::before {
    border-bottom-color: none;
  }
}

.react-datepicker__input-container {
  input {
    font-size: 1.35em;
    font-weight: bold;
    color: $text-secondary;
    text-align: center;
    border: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      color: $text-accent;
    }
    &:focus-visible {
      outline: none;
    }
  }
}

.react-datepicker__header {
  border: none;
}